services:
  traefik:
    image: traefik:v2.11
    command:
      - "--api.insecure=false"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "0.0.0.0:80:80"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    environment:
      - DOCKER_API_VERSION=1.44
    restart: always

  backend:
    build: ./backend
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - AWS_ACCESS_KEY=${AWS_ACCESS_KEY}
      - AWS_SECRET_KEY=${AWS_SECRET_KEY}
      - AWS_REGION=${AWS_REGION}
      - AWS_S3_BUCKET=${AWS_S3_BUCKET}
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - MAIL_AUTH=${MAIL_AUTH}
      - MAIL_TLS=${MAIL_TLS}
      - MAIL_FROM_ADDRESS=${MAIL_FROM_ADDRESS}
      - ALLOWED_ORIGINS=https://vaxify.abhish7k.xyz
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`api.abhish7k.xyz`)"
      - "traefik.http.routers.backend.entrypoints=web"
      - "traefik.http.services.backend.loadbalancer.server.port=8080"
    restart: always
