name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to EC2
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # go to the proj dir
            cd ~/vaxify

            # fetch latest changes from origin
            git fetch origin

            # checkout the main branch
            git checkout main

            # completely override local changes with origin/main
            git reset --hard origin/main

            # rebuild and restart the containers
            docker compose up -d --build
